

<style>
  *{
    font-size: 20px;
  }
  div {
    width: 33%;
    display: inline-block;
    vertical-align: top;
  }
  </style>


    <div style="display:block; background-color: #d8d8df; width:100vw; height:100vh; padding:2em;">
  <div>
    <h1>Help</h1>
    Click on a node for more info.<br>
    Hide node option in info window.<br>
    Pin nodes with right-click.<br>
    <h1>Edit mode</h1>
    Click on empty space to create a new node.<br>
    Click on a link to edit that link.<br>
    If link strength is set, the graph will keep that link at that length.<br>
    Edit node button added to info window.<br>
    Drag a node close to another node to create a new link (Dragged node will be the target of the link).<br>
    <h1>Linking Graph</h1>
    ***WIP***<br>
    The site can try to generate a URL that can be easily shared.<br>
    Graph data must be linked to a Google Sheets document.<br>
    Link graph at: bottom-right gear &gt Load graph &gt Link Google Sheets File.<br> 
    File urls must be single-sheet, .csv links.<br>
    Node positions are not saved.<br>
    <h1>Saving complete graph state</h1>
    ***WIP***<br>
    Graph data can be exported as text in JSON format.<br>
    JSON data includes node position and pin state.<br>
    Data is only copy and pasted from text in save/load menus.<br>
    Currently, graph data must be shared seperately. <br>
  </div>
  <div>
    <h1>Graphs</h1>
    Graphs are incomplete placeholders, and do not contain all information/accurate information<br><br>
    <a href="/vtubers">Vtubers Graph</a> - <a href="https://docs.google.com/spreadsheets/d/1377cg5ZwtHHqhI9TYhJKZ8CSHboSKIWlLW7ugso59Io/edit?usp=sharing">Google sheet</a><br>
    <a href="/vtubers_past-lives">Full Vtubers Graph</a> !!Includes links between past lives/IRL Faces<br>
    <a href="/JPYT-music-videos">JP-YT Music Video Production</a><br>
    <a href="/movies">Movies</a><br>
  </div>
  <!-- <div style="width:50%; position:absolute; right:2em; top:3em; text-align: right">--!>
 <div>
    Built with <a href="https://github.com/vasturiano/force-graph">force-Graph</a><br>
  and <a href="https://www.papaparse.com/">Papaparse</a><br>
  </div>
</div>
